<app-hello></app-hello>
<app-hello name="Toto"></app-hello>
<app-hello [name]="'Toto'.toUpperCase()"></app-hello>
<app-hello [name]="title"></app-hello>

<app-counter></app-counter>
<app-counter></app-counter>
<app-counter></app-counter>

<app-ex-helloworld></app-ex-helloworld>
<app-ex-multistate-button [values]="['red', 'green', 'blue']"></app-ex-multistate-button>

<app-select [values]="['red', 'green', 'blue']" [selected]="couleur" (selectedChange)="couleur = $event"></app-select>

<!-- <app-select [values]="['red', 'green', 'blue']" [(selected)]="couleur"></app-select> -->

<p>Vous avez sélectionné : {{couleur}}</p>
