<!-- <div>Prénom : <input type="text" [value]="name" (input)="name = $any($event.target).value" /></div> -->
<div>Prénom : <input type="text" [value]="name" (input)="updateName($event)" /></div>
<p>Bonjour {{ name }} !</p>
<!--
  Exercice Helloworld
  - créer une propriété name dans le fichier .ts
  - afficher le contenu de cette propriété dans la balise input
  (binding sur la propriété value) et à la place des ... dans le paragraphe
  - écouter l'événement input ou keyup de la balise input
  récupérer sa propriété value en se servant de $event.target
  et l'affecter à la propriété name du composant
-->
