<button
  (click)="nextValue()"
  [title]="index"
  [attr.aria-title]="values[index]"
  [class.first]="index === 0"
  [ngClass]="{second: index === 1, third: index === 2}"
  [style.backgroundColor]="values[index]"
>
  {{ values[index] }}
</button>

<p [ngClass]="{hidden: values.length !== 3}">3 éléments dans le tableau</p>
<!--
  Exercice Multistate button
  - créer une propriété values sur le composant
  - rendre cette propriété customisable depuis le parent via le décorateur @Input
  - dans le composant parent passer un tableau ['red', 'green', 'blue'] via l'Input
  - dans ce composant afficher par défaut la valeur du premier élement dans un bouton (red)
  - à chaque click afficher la valeur suivante
  - s'il n'y a plus de valeur afficher la première

  Indice : vous aurez besoin de créer un propriété supplémentaire au niveau du composant
-->
